@model HeapOverflow.Models.LoginModel

@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="login-wrapper">
  

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="input-container">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
        
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "theme-input" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        </div>

        <div class="input-container">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "theme-input" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>

        <input type="submit" value="Create" class="theme-button" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
